ion-tabs.tabs-icon-top.tabs-color-active-positive
  ion-tab(ng-repeat="tab in main.tabs", title="{{tab.title}}", icon-off="{{tab.iconOff}}", icon-on="{{tab.iconOn}}", href="{{tab.href}}")
    ion-nav-view(name="{{tab.name}}")
