<ion-view class="padding">
  <ion-slides options="main.options.slides" slider="slider">

    <ion-slide-page>
      <button ng-click="core.showAuthModal('login')" class="button button-block button-positive">
        Login
      </button>
      <button ng-click="core.showAuthModal('register')" class="button button-block button-calm">
        Register
      </button>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box blue">
        <h1>intro</h1>
      </div>
    </ion-slide-page>
  </ion-slides>
</ion-view>
