<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button" ng-click="hideModal()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-list>
      <formly-form model="core.registration" fields="core.fields.register" form="core.registrationForm"></formly-form>
    </ion-list>
    <button ng-disabled="!core.registrationForm.$dirty || !core.registrationForm.$valid"
            class="button button-block button-balanced"
            ng-click="core.register(core.registration)">
      Create Account
    </button>
  </ion-content>
</ion-modal-view>
